#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h2 {
  width: 20px;
  height: 20px;
  background-color: black;
  position: relative;
  right:200px;
  animation-name: mySquare;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes mySquare {
  0%   {left:-75px; top:0px;}
  25%  {left:500px; top:0px;}
  50%  {left:500px; top:620px;}
  75%  {left:-75px; top:620px;}
  100% { left:-75px; top:0px;}
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
